<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/mvc" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:context="http://www.springframework.org/schema/context"
             xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd   http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd   http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <annotation-driven/>
    <context:component-scan base-package="main"/>
    <beans:bean id="userService" class="main.services.UserServiceImpl">
        <beans:property name="userDAO" ref="userDao"/>
        <!--<beans:constructor-arg name="userDAO" ref="userDao"/>-->
    </beans:bean>
    <beans:bean id="userDao" class="main.models.dao.UserDaoImpl"/>

    <beans:bean id="studentService" class="main.services.StudentServiceImpl">
        <!--<beans:property name="studentsDAO" ref="userDao"/>-->
        <!--<beans:constructor-arg name="userDAO" ref="userDao"/>-->
    </beans:bean>
    <beans:bean id="studentDao" class="main.models.dao.StudentDaoImpl"/>

</beans:beans>